$primary: #393939;
$secondary: #F17900;
$white: #FFFFFF;
$background: #F9F9F9;
$yellow: #E0A449;
$background-yellow: #FBD7B24D;
$black: #000000;
$grey: #6C757D;
$gradient: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);