@import '../abstracts/colors';

.huge-icon {
  height: 55px;
}

.favorites-title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 64px;
  max-width: 684px;
  margin: 120px 0;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 40px;
  }
}

.warning-text {
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
