.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 760px) {
    display: none;
  }
}

.menu-desktop-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.menu-desktop-image {
  height: 24px;
  width: 24px;
}

.menu-desktop-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 0 4px;

  @media (max-width: 760px) {
    font-size: 12px;
  }
}
